{% extends "app_v1/header.html" %}

{% block main %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Optiver Prime</h1>
      <p>We're not here to take part, we're here to take over</p>
    </div>
  </div>


  <div id="introBanner">
    <h1 id="Title_Content"> Meet The Team </h1>
  </div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2> Samuel Gallagher </h2>
        <p> Manager, Programmer - Backend/API </p>
      </div>
      <div class="col-md-4">
        <h2> Robert Ma </h2>
        <p> Manager, Programmer - Frontend </p>
      </div>
      <div class="col-md-4">
        <h2> Anthony Mansour </h2>
        <p>  Tester, Programmer - Backend/API </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2> Ryan Marshall </h2>
        <p> Tester, Programmer - Backend/API </p>
      </div>
      <div class="col-md-4">
        <h2> Victor Shen </h2>
        <p> Tester, Programmer - Frontend </p>
      </div>
      <div class="col-md-4">
        <h2> Dankoon Yoo </h2>
        <p>  Project Leader, Programmer - Frontend </p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
{% endblock %}